body {
    margin: 0; /* Remove default body margin */
    background-color: #f9f9f9; /* Set the body background color */
}

#join {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#join-dialog {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1.logo {
    background-image: url("./img/icon/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
}

.btn-success {
    background-color: #fbd85d;
    margin-top: 30px;
    color: black;
}

.form-group {
    margin: 10px;
}

p {
    font-size: 20px;
    color: black;
    padding-top: 10px;
}

.form-control {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Optional: To make the JOIN button look cute */
.btn-success {
    font-weight: bold;
    font-size: 24px;
    padding: 15px 30px;
    border-radius: 50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    display: block;
    margin: 0 auto;
}

.btn-success:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    #join-dialog {
        width: 100%;
    }

    .form-control {
        width: 30%;
    }
}

@media (max-width: 480px) {
    #join-dialog {
        width: 100%;
    }
}
