/* Add styles for the logo */
.logo {
    background-image: url("../../img/icon/somethink.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px; /* Set the desired width */
    height: 45px; /* Set the desired height */
}

/* Add the following CSS rules */
.top-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar-group-container {
    display: flex;
    align-items: center;
}

.streamcomponent {
    display: none;
}

.code {
    font-size: 20px;
    color: black;
}
