/* Add styles for the logo */
.logo {
    background-image: url("../../img/icon/somethink.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px; /* Set the desired width */
    height: 45px; /* Set the desired height */
}

/* Add the following CSS rules */
.top-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avatar-group-container {
    display: flex;
    align-items: left;
    width: 100%;
    left: -100px;
}

.streamcomponent {
    display: none;
}

.code {
    font-size: 20px;
    color: black;
}

.button-container {
    display: flex;
    align-items: center;
}

.clock-container {
    display: flex;
    justify-content: center;
    font-size: 1.2rem; /* Increased font size */
    margin-right: 15px; /* Added right margin */
}

.topbar-menu {
    display: flex; /* This makes .topbar-menu a flex container */
    align-items: center; /* This vertically centers the <p> inside .topbar-menu */
}

.topbar-menu p {
    margin: 0; /* Remove vertical margins */
    padding: 0; /* Remove padding */
}
.clock-container p {
    margin: 0; /* Remove vertical margins */
    padding: 0; /* Remove padding */
    color: #333;
    font-weight: bold;
}
