.toolbar {
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    padding: 30px;
    gap: 20px;
}

.create-node {
    background-image: url("../../img/icon/node.png");
}

.create-text {
    background-image: url("../../img/icon/text.png");
}
.create-image {
    background-image: url("../../img/icon/image.png");
}
.create-memo {
    background-image: url("../../img/icon/memo.png");
}
.create-comment {
    background-image: url("../../img/icon/comment.png");
}
.create-timer {
    background-image: url("../../img/icon/timer.png");
}

.button_toolbar {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 30px;
    width: 100%;
    aspect-ratio: 1/1;
    border: none;
    background-color: #eaeaea;
}
