body {
    font-family: "MainFont";
    margin: 0;
    background-color: #fbd85d;
}

#join {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#join-dialog {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: wrap;
    z-index: 1;
}

#join-dialog-content {
    display: flex;
    width: 100%;
}

#join-dialog-content > div {
    width: 50%;
    flex: 1;
}

.first {
    border-right: 1px solid rgb(222, 214, 214);
    align-items: center;
    display: flex;
    justify-content: center;
}

#label-create {
    margin-right: 15px;
}
.form-group {
    /* width: 45%; */
    width: 100%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.form-group p {
    margin: 0 10px;
}

.form-group.name {
    padding-bottom: 30px;
}

h1.logo {
    background-image: url("../../img/icon/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 120px;
    margin-top: 0;
}

p {
    font-size: 20px;
    color: black;
}

.form-control {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 20px;
}

.btn-success {
    font-weight: bold;
    font-size: 24px;
    padding: 15px 30px;
    border-radius: 50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);

    margin: 10px 0px 10px 20px;
    background-color: #fbd85d;
    color: black;
    display: block;
}

.btn-success.create {
    font-weight: bold;
    font-size: 24px;
    padding: 15px 30px;
    border-radius: 50px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);

    margin: 15px 15px 0px 0px;
    background-color: #fbd85d;
    color: black;
    display: block;
}

.btn-success:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

/* .circle {
    border-radius: 190px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
}

.circle1 {
    background-color: #000000;
    width: 240px;
    height: 240px;
    margin-top: -120px;
    margin-left: -120px;
}

.circle2 {
    background-color: #000000;
    width: 170px;
    height: 170px;
    margin-top: -85px;
    margin-left: -85px;
}

.circle3 {
    background-color: #9f88d6;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
} */

.smallcircles {
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    animation: infinite-rotation 150s infinite;
}
.small-circle {
    position: inherit;
    display: block;
    width: 250px;
    height: 250px;
    /* background: #f9f9f9; */
    background: #fbf8e6;
    margin-top: -125px;
    margin-left: -125px;
    border-radius: 125px;
    -webkit-animation: smallcircle 1s ease-in-out alternate;
    -moz-animation: smallcircle 1s ease-in-out alternate;
    animation: smallcircle 1s ease-in-out alternate;
}

.small-circle:nth-child(1) {
    top: 12%;
    left: 24%;
}
.small-circle:nth-child(2) {
    display: block;
    top: 18%;
    left: 44%;
}
.small-circle:nth-child(3) {
    display: block;
    top: 78%;
    left: 5%;
}
.small-circle:nth-child(4) {
    display: block;
    top: 78%;
    left: 56%;
}
.small-circle:nth-child(4) {
    display: block;
    top: 78%;
    left: 56%;
}
.small-circle:nth-child(5) {
    display: block;
    top: 38%;
    left: 86%;
}
.small-circle:nth-child(6) {
    display: block;
    top: 86%;
    left: 96%;
}

.big-circles {
    position: absolute;
    width: 100%;
    height: 100%;
    animation: infinite-rotation 125s infinite;
    z-index: -2;
}
.big-circle {
    position: inherit;
    display: block;
    width: 500px;
    height: 500px;
    /* background: #f9f9f9; */
    background: #fbf8e6;
    margin-top: -250px;
    margin-left: -250px;
    border-radius: 250px;
    -webkit-animation: bigcircle 1.6s ease-in-out alternate;
    -moz-animation: bigcircle 1.6s ease-in-out alternatee;
    animation: bigcircle 1.6s ease-in-out alternate;
}

.big-circle:nth-child(1) {
    top: 12%;
    left: 4%;
}
.big-circle:nth-child(2) {
    display: block;
    top: 98%;
    left: 84%;
}
.big-circle:nth-child(3) {
    display: block;
    top: 78%;
    left: 0%;
}
.big-circle:nth-child(4) {
    display: block;
    top: 78%;
    left: 56%;
}
.big-circle:nth-child(4) {
    display: block;
    top: 78%;
    left: 56%;
}
.big-circle:nth-child(5) {
    display: block;
    top: 38%;
    left: 86%;
}
.big-circle:nth-child(6) {
    display: block;
    top: 86%;
    left: 96%;
}

@keyframes smallcircle {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes bigcircle {
    0% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }
    50% {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes infinite-rotation {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    #join-dialog {
        width: 50%;
        z-index: 1;
        padding: 0;
    }

    .form-control {
        width: 70%;
        margin: 0;
        z-index: 1;
    }
    .big-circles {
        display: none;
    }
    .smallcircles {
        size: 40%;
    }
}

@media (max-width: 480px) {
    #join-dialog {
        width: 100%;
        padding: 0;
        z-index: 1;
    }
}
