.markdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 10vh;
    left: 3vh;
    padding: 10px;
    background-color: #f0f0f0;
    color: black;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    z-index: 1;
}

.timer.red {
    color: red;
}

.timer .timer-input {
    color: black;
    width: 40px;
    height: 30px;
    font-size: 20px;
    border: 1;
}

button {
    margin-top: 10px;
}
