div.vis-network:focus {
    outline: none;
}

div.vis-network div.vis-manipulation {
    background: #fff;
    background: -moz-linear-gradient(top, #fff 0, #fcfcfc 48%, #fafafa 50%, #fcfcfc 100%);
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #fff),
        color-stop(48%, #fcfcfc),
        color-stop(50%, #fafafa),
        color-stop(100%, #fcfcfc)
    );
    background: -webkit-linear-gradient(top, #fff, #fcfcfc 48%, #fafafa 50%, #fcfcfc);
    background: -o-linear-gradient(top, #fff 0, #fcfcfc 48%, #fafafa 50%, #fcfcfc 100%);
    background: -ms-linear-gradient(top, #fff 0, #fcfcfc 48%, #fafafa 50%, #fcfcfc 100%);
    background: linear-gradient(180deg, #fff 0, #fcfcfc 48%, #fafafa 50%, #fcfcfc);
    border: 0 solid #d6d9d8;
    border-bottom: 1px;
    box-sizing: content-box;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#fcfcfc",GradientType=0);
    height: 28px;
    left: 0;
    padding-top: 4px;
    position: absolute;
    top: 0;
    width: 100%;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}
